django
south

django-compressor
django-crispy-forms
django-debug-toolbar
django-braces
django-extensions
django-storages
django-secure
django-model-utils
django-autofixture
django-easy-pjax

# http://michal.karzynski.pl/blog/2013/07/14/using-redis-as-django-session-store-and-cache-backend/
#django-redis-sessions
#django-redis-cache

psycopg2
gunicorn
gevent
