{% load staticfiles compressed %}

<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Projeto{% endblock %}</title>
    {% compressed_css 'bootstrap' %}
    {% compressed_css 'site' %}
</head>
<body>
    {% block container %}
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    {% endblock %}

    {% compressed_js 'jquery' %}
    {% compressed_js 'bootstrap' %}
    {% compressed_js 'site' %}
</body>
</html>
